<div class="fixed-action-btn verticle">
    <a class="btn-floating btn-large red heartbeat1">
        <i class="large material-icons">reorder</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red" href="/about">
                <i class="material-icons">face</i>
            </a>
        </li>
        <li>
            <a class="btn-floating yellow darken-1" href="/stories">
                <i class="material-icons">import_contacts</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green">
                <i class="material-icons">filter_list</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue" href="/stories/add">
                <i class="material-icons">add_circle_outline</i>
            </a>
        </li>
    </ul>
</div>