<div class="fixed-action-btn verticle" id="footerfloat">
    <a class="btn-floating btn-large red heartbeat1">
        <i class="large material-icons">reorder</i>
    </a>
    <ul>
    <li>
        <a href="/auth/logout"  class="btn-floating red darken-1">
          <i class="fas fa-sign-out-alt" style="font-size:15px !important;"></i></a>
    </li>
        <li>
            <a class="btn-floating grey" href="/about">
                <i class="material-icons">face</i>
            </a>
        </li>
        <li>
            <a class="btn-floating yellow darken-1" href="/stories">
                <i class="material-icons">import_contacts</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green">
                <i class="material-icons">filter_list</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue" href="/stories/add">
                <i class="material-icons">add_circle_outline</i>
            </a>
        </li>
    </ul>
</div>

{{!-- <div class="fixed-action-btn direction-top" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large red">
        <i class="material-icons">mode_edit</i>
    </a>
    <ul>
        <li>
            <a class="btn-floating red" style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);">
                <i class="material-icons">insert_chart</i>
            </a>
        </li>
        <li>
            <a class="btn-floating yellow darken-1" style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);">
                <i class="material-icons">format_quote</i>
            </a>
        </li>
        <li>
            <a class="btn-floating green" style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);">
                <i class="material-icons">publish</i>
            </a>
        </li>
        <li>
            <a class="btn-floating blue" style="opacity: 0; transform: scale(0.4) translateY(40px) translateX(0px);">
                <i class="material-icons">attach_file</i>
            </a>
        </li>
    </ul>
</div> --}}