<div class="container">
<form action="/categories/add/{{user.id}}" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
               <input class="input-text" name="category" id="category"  value="{{category.categoriesName}}" placeholder="Add New Category"/>
            </div>
            <input type="submit" value="Add New" class="btn btn-circle shake-top">
        </div>
        
    </form>
</div>