<div class="container">
<form action="/categories/edit/{{user.id}}?_method=PUT" method="post" class="col s12">
<input type="hidden" name="_method" value="PUT">
        <div class="row">
            <div class="input-field">
               <input class="input-text" name="category" id="category" value="{{category.categoriesName}}" placeholder="Update Category"/>
            </div>
            <input type="submit" value="Update with New" class="btn btn-circle shake-top">
        </div>
        
    </form>
</div>