<footer class="page-footer grey darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Story Books</h5>
                <p class="grey-text text-lighten-4">Share your story with the world</p>
                {{#if user}} 

                {{else}}
                <div class="container1 card grey darken-3">
                    <header>
                        <h6 style="margin-top:5px;margin-left:5px;margin-bottom:5px;">Follow Us On Social Media</h6>
                    </header>
                    <ul class="accordion">
                        <li class="tab">
                            <div class="social youtube">
                                <a href="#" target="_blank">Youtube</a>
                            </div>
                            <div class="content">
                                <h1>YouTube</h1>
                                <p>Follow me on YouTube</p>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="social twitter">
                                <a href="#" target="_blank">Twitter</a>
                            </div>
                            <div class="content">
                                <h1>Twitter</h1>
                                <p>Follow me on Twitter </p>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="social facebook">
                                <a href="#" target="_blank">Facebook</a>
                            </div>
                            <div class="content">
                                <h1>Facebook</h1>
                                <p>Follow me on Facebook to stay up to date
                                </p>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="social linkedin">
                                <a href="#" target="_blank">LinkedIn</a>
                            </div>
                            <div class="content">
                                <h1>LinkedIn</h1>
                                <p>Connect with me on a professional level on Linkedin</p>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="social instagram">
                                <a href="#" target="_blank">Instagram</a>
                            </div>
                            <div class="content">
                                <h1>Instagram</h1>
                                <p>Follow me on Instragram for a more personal look into my life and work</p>
                            </div>
                        </li>
                        <li class="tab">
                            <div class="social github">
                                <a href="#" target="_blank">Github</a>
                            </div>
                            <div class="content">
                                <h1>Github</h1>
                                <p>Check out my Github for tutorial code, my personal projects and more</p>
                            </div>
                        </li>
                    </ul>
                </div>
                {{/if}}
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="/stories">Public Story</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/about">About</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="/auth/goole">Become Writer</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            <div class="col s12 m8 pull-m4">
                <p>

                    <img src="https://cdn.iconscout.com/public/images/icon/premium/png-256/story-book-open-36e6148c22052e3d-256x256.png" alt="StoryBook - Share your Story to the world"
                        title="StoryBook - Share your Story to the world" class="logo" /> StoryBook is made with
                    <span class="heart">❤</span> in
                    <span class="GMS-52-9-0-N-5-23-0-E">
                        <a href="https://en.wikipedia.org/wiki/India" target="_blank" style="text-decoration:none;color:white;"> The India
                            <svg xmlns="https://lipis.github.io/flag-icon-css/flags/4x3/in.svg" width="12" height="8" viewBox="0 0 9 6">
                                <rect width="9" height="6" fill="green"></rect>
                                <rect width="9" height="4" fill="#FFF"></rect>
                                <rect width="9" height="2" fill="orange"></rect>
                            </svg>
                        </a>
                    </span>
                </p>
            </div>
            © 2018 StoryBooks
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
        </div>
    </div>
</footer>