<nav class="grey darken-3">
    <div class="container">
        <div class="nav-wrapper">
            <a href="/stories" class="brand-logo center">StoryBooks</a>
            <a href="#" data-activates="main-menu" class="button-collapse show-on-large">
                <i class="fa fa-bars"></i>
            </a>
            <!-- Right NAV -->
            <ul class="right hide-on-small-only">
                {{#if user}}
                <li>
                    <a href="/dashboard">Welcome
                        <i class="fa fa-user"></i> {{user.firstName}}</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{else}}
                <li>
                    <a href="/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>
                {{/if}}
            </ul>
            <!--SIDE Menu -->
            <ul class="side-nav" id="main-menu">

                {{#if user}} 
                
                {{else}}
                <li>
                    <a href="/auth/google" class="btn white darken-1" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">Login With 
                        <svg class="svg" width="18" height="18" xmlns="http://www.w3.org/2000/svg">
                            <path d="M17.64 9.2c0-.637-.057-1.25-.164-1.84H9v3.481h4.844c-.209 1.125-.843 2.079-1.796 2.717v2.258h2.908c1.702-1.567 2.684-3.874 2.684-6.615z"
                                fill-rule="evenodd" fill="#4285f4"></path>
                            <path d="M9.003 18c2.43 0 4.467-.806 5.956-2.18l-2.908-2.259c-.806.54-1.837.86-3.048.86-2.344 0-4.328-1.584-5.036-3.711H.96v2.332C2.44 15.983 5.485 18 9.003 18z"
                                fill-rule="evenodd" fill="#34a853"></path>
                            <path d="M3.964 10.712c-.18-.54-.282-1.117-.282-1.71 0-.593.102-1.17.282-1.71V4.96H.957C.347 6.175 0 7.55 0 9.002c0 1.452.348 2.827.957 4.042l3.007-2.332z"
                                fill-rule="evenodd" fill="#fbbc05"></path>
                            <path d="M9.003 3.58c1.321 0 2.508.454 3.44 1.345l2.582-2.58C13.465.891 11.429 0 9.003 0 5.485 0 2.44 2.017.96 4.958L3.967 7.29c.708-2.127 2.692-3.71 5.036-3.71z"
                                fill-rule="evenodd" fill="#ea4335"></path>
                        </svg></a>
                </li>
                {{!-- <li>
                    <a href="/auth/facebook" class="btn white darken-1" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                            <g id="surface1">
                                <path style=" fill:#3F51B5;" d="M 42 37 C 42 39.761719 39.761719 42 37 42 L 11 42 C 8.238281 42 6 39.761719 6 37 L 6 11 C 6 8.238281 8.238281 6 11 6 L 37 6 C 39.761719 6 42 8.238281 42 11 Z "></path>
                                <path style=" fill:#FFFFFF;" d="M 34.367188 25 L 31 25 L 31 38 L 26 38 L 26 25 L 23 25 L 23 21 L 26 21 L 26 18.589844 C 26.003906 15.082031 27.460938 13 31.59375 13 L 35 13 L 35 17 L 32.714844 17 C 31.105469 17 31 17.601563 31 18.722656 L 31 21 L 35 21 Z "></path>
                            </g>
                        </svg>
                    </a>
                </li> --}}
                <li>
                    <a href="/auth/twitter" class="btn white darken-1" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="fill:#000000;">
                            <g id="surface1">
                                <path style=" fill:#03A9F4;" d="M 42 12.429688 C 40.675781 13.015625 39.253906 13.40625 37.753906 13.589844 C 39.277344 12.683594 40.453125 11.238281 41.003906 9.53125 C 39.574219 10.371094 37.992188 10.984375 36.3125 11.308594 C 34.96875 9.882813 33.050781 9 30.925781 9 C 26.847656 9 23.539063 12.277344 23.539063 16.320313 C 23.539063 16.890625 23.605469 17.449219 23.730469 17.988281 C 17.59375 17.683594 12.148438 14.765625 8.507813 10.335938 C 7.867188 11.417969 7.507813 12.683594 7.507813 14.023438 C 7.507813 16.5625 8.808594 18.800781 10.792969 20.117188 C 9.582031 20.082031 8.441406 19.742188 7.445313 19.203125 C 7.445313 19.226563 7.445313 19.257813 7.445313 19.289063 C 7.445313 22.839844 9.992188 25.796875 13.367188 26.472656 C 12.75 26.640625 12.097656 26.734375 11.425781 26.734375 C 10.949219 26.734375 10.484375 26.679688 10.035156 26.597656 C 10.972656 29.5 13.699219 31.621094 16.933594 31.683594 C 14.402344 33.644531 11.21875 34.820313 7.757813 34.820313 C 7.160156 34.820313 6.574219 34.785156 5.996094 34.714844 C 9.269531 36.785156 13.152344 38 17.320313 38 C 30.90625 38 38.339844 26.84375 38.339844 17.164063 C 38.339844 16.847656 38.328125 16.53125 38.3125 16.222656 C 39.761719 15.195313 41.011719 13.90625 42 12.429688 "></path>
                            </g>
                        </svg>
                    </a>
                </li>
                {{!-- <li>
                    <a href="/auth/pinterest" class="btn white darken-1" style="color:#666;height:46px;padding-top:5px;letter-spacing: 1.5px;">LOGIN WITH
                        <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="26" height="26" viewBox="0 0 48 48" style="enable-background:new 0 0 48 48;;fill:#000000;">
                            <circle style="fill:#D32F2F;" cx="24" cy="24" r="20"></circle>
                            <path style="fill:#FFFFFF;" d="M19.562,27c0-3.329-0.562-4.482-0.562-5.788C19,18.243,21.131,18,22.032,18	C23.316,18,25,18.871,25,20.5c0,2.371-2,2.671-2,2.671S23,24,23,25.46C23,27,23.372,29,26.123,29C30.537,29,31,22.848,31,21.163	C31,18.834,29.51,14,24.213,14C17.148,14,16,20.313,16,22c0,0.722,0.132,2.122,0.269,2.667c2.106,0.52,1.615,2.375,1.044,2.895	C16.484,28.328,13,28.477,13,21.325C13,14.513,19.072,11,24.402,11C29.474,11,35,14.502,35,21.246	c0,6.018-4.327,10.757-8.872,10.757c-2.728,0-4.175-2.248-4.175-2.248C21.953,34,18.495,40.083,18,41C18,41,19.562,33.146,19.562,27	z"></path>
                        </svg>
                    </a>
                </li> --}}
                {{/if}}
                <li>
                    <a href="/stories">
                        <i class="fa fa-book"></i> Public Stories</a>
                </li>
                <li class="divider"></li>
                 {{#if user}}
                <li>
                    <a href="/dashboard">
                        <i class="fa fa-cog"></i> Dashboard</a>
                </li>
                <li>
                    <a href="/stories/my">
                        <i class="fa fa-user"></i> My Stories</a>
                </li>
                <li>
                    <a href="/auth/logout">
                        <i class="fa fa-sign-out"></i> Logout</a>
                </li>
                {{else}}
                {{/if}}
            </ul>
        </div>
    </div>
</nav>