{{!-- <div class="col hide-on-small-only m3 xl3 offset-xl1 left">
    <div class="toc-wrapper pin-top" style="top:62px;position:fixed;">

        <div style="height: 1px;">
            <ul class="section table-of-contents hide-on-small-only">
                <li>
                    <a href="#latest" class="active selective">Latest</a>
                    
                </li>
                <li>
                    <a href="#topview" class="selective">Top View</a>
                </li>
                <li>
                    <a href="#popular" class="selective">Popular</a>
                </li>
            </ul>
        </div>
    </div>
</div> --}}
<div class="col hide-on-small-only m3 xl3 offset-xl1 left">
    <div class="toc-wrapper pin-top sidenapagin">
        <ul class="collapsible">
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">local_library</i>
                    Reader Digest
                    <span class="new badge green">1</span></div>
                <div class="collapsible-body">
                    <ul class="section table-of-contents hide-on-small-only">
                        <li>
                            <a href="#latest" class="active selective">Latest</a>

                        </li>
                        <li>
                            <a href="#topview" class="selective">Top View</a>
                        </li>
                        <li>
                            <a href="#popular" class="selective">Popular</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">trending_up</i>
                    Trending
                    <span class="new badge blue">1</span></div>
                <div class="collapsible-body">
                    <ul class="section table-of-contents hide-on-small-only">
                        <li>
                            <a href="#latest" class="active selective">Latest</a>
                    
                        </li>
                        <li>
                            <a href="#topview" class="selective">Top View</a>
                        </li>
                        <li>
                            <a href="#popular" class="selective">Popular</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">wb_incandescent</i>
                    Motivational
                    <span class="new badge blue">1</span></div>
                <div class="collapsible-body">
                    <ul class="section table-of-contents hide-on-small-only">
                        <li>
                            <a href="#latest" class="active selective">Latest</a>
            
                        </li>
                        <li>
                            <a href="#topview" class="selective">Top View</a>
                        </li>
                        <li>
                            <a href="#popular" class="selective">Popular</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li>
                <div class="collapsible-header">
                    <i class="material-icons">favorite</i>
                    Love & Affaire
                    <span class="new badge blue">1</span></div>
                <div class="collapsible-body">
                    <ul class="section table-of-contents hide-on-small-only">
                        <li>
                            <a href="#latest" class="active selective">Latest</a>
            
                        </li>
                        <li>
                            <a href="#topview" class="selective">Top View</a>
                        </li>
                        <li>
                            <a href="#popular" class="selective">Popular</a>
                        </li>
                    </ul>
                </div>
            </li>
            {{#if user.id}}
                <li>
                    <div class="collapsible-header">
                        <i class="material-icons">record_voice_over</i>
                        Shout Box
                        <span class="new badge red">1</span></div>
                    <div class="collapsible-body">
                        <ul class="section table-of-contents hide-on-small-only">
                            <li>
                                <a href="#latest" class="active selective">Latest</a>
                
                            </li>
                            <li>
                                <a href="#topview" class="selective">Top View</a>
                            </li>
                            <li>
                                <a href="#popular" class="selective">Popular</a>
                            </li>
                        </ul>
                    </div>
                </li>
            {{/if}}
        </ul>
    </div>
</div>
