<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="StoryBook a app Share your Day story to the world. alpha version">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/css/style.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>StoryBooks</title>
</head>

<body>
    {{> _header}}
    {{#if user}}
        {{> _add-btn}}
    {{/if}}
    <main>
        <div class="container">
            {{{body}}}
        </div>
    </main>
    {{> _footer}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.9.0/standard/ckeditor.js"></script>
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script src="sticky.js"></script>
        <script>
           document.addEventListener('DOMContentLoaded', function () {
               try {
                   enterView({
                       selector: 'section',
                       enter: function (el) {
                           el.classList.add('entered');
                       }
                   })

                   var frameNumber = 0, // start video at frame 0
                       // lower numbers = faster playback
                       playbackConst = 1000,
                       // get page height from video duration
                       setHeight = document.getElementById("set-height"),
                       // select video element         
                       vid = document.getElementById('v0');
                   // var vid = $('#v0')[0]; // jquery option
                   // dynamically set the page height according to video length
                   vid.addEventListener('loadedmetadata', function () {
                       setHeight.style.height = Math.floor(vid.duration) * playbackConst + "px";
                   });
                   // Use requestAnimationFrame for smooth playback
                   function scrollPlay() {
                       var frameNumber = window.pageYOffset / playbackConst;
                       vid.currentTime = frameNumber;
                       window.requestAnimationFrame(scrollPlay);
                   }
                   window.requestAnimationFrame(scrollPlay);
               }
               catch(err) {
                   console.log(err)
               }
  
            }); 
        </script>
    <script>
        $(document).ready(() => {
           try {
                $('.button-collapse').sideNav();
               $('select').material_select();
               CKEDITOR.replace('body');
               // tinymce.init({ selector: 'textarea' });
               var elem = document.querySelector('.slider');
               var instance = M.Slider.init(elem, options);

               // Or with jQuery

               $(document).ready(function () {
                   $('.slider').slider();
               });
                
           } 
           catch(err)
           {
               console.log(err)
           }
        });
    </script>
    <script>
        $(document).ready(() => {
           window.onload = function () {

                var placeholder = document.querySelector('.placeholder'),
                    small = placeholder.querySelector('.img-small')

                // 1: load small image and show it
                var img = new Image();
                img.src = small.src;
                img.onload = function () {
                    small.classList.add('loaded');
                };

                // 2: load large image
                var imgLarge = new Image();
                imgLarge.src = placeholder.dataset.large;
                imgLarge.onload = function () {
                    imgLarge.classList.add('loaded');
                };
                placeholder.appendChild(imgLarge);
            } 
        });
    </script>
</body>

</html>