<div class="row">
   
    <div class="col s12">
        <div class="site-main surface-container transparent" id="container">
            <div class="butterBar butterBar--error" data-action-scope="_actionscope_1"></div>
            <div class="surface">
                <div id="prerendered" class="screenContent" data-used="true">

                    <div class="metabar metabar--spacer js-metabarSpacer u-height115 u-xs-height95"></div>
                    <div class="homeContainer u-clearfix js-homepage">

                        <style class="js-promoStyle">
                        </style>
                        <div class="u-foreground u-minHeight100vh">
                            <div class="extreme-container12col u-flex u-marginTop48">
                                <div class="extreme-container8col u-sizeFullWidth u-flex1 u-borderBox u-paddingRight24 extreme-10colSizeFull extreme-10colPadding0 js-mainfeed">
                                    <div class="extremePostPreview u-marginBottom48 u-animation--shimmerInfinite">
                                        <div class="extremePostPreview-post u-minWidth0 u-flex1 u-marginRight24 u-textAlignLeft">
                                            <div class="u-clearfix u-marginBottom16">
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder linePlaceholder--truncated"></div>
                                            </div>
                                            <div class="u-flex">
                                                <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                <div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extremePostPreview-image u-background--brandDust u-flex0 u-width152 u-height145 u-xs-width80 u-xs-height72"></div>
                                    </div>
                                    <div class="extremePostPreview u-marginBottom48 u-animation--shimmerInfinite">
                                        <div class="extremePostPreview-post u-minWidth0 u-flex1 u-marginRight24 u-textAlignLeft">
                                            <div class="u-clearfix u-marginBottom16">
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder linePlaceholder--truncated"></div>
                                            </div>
                                            <div class="u-flex">
                                                <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                <div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extremePostPreview-image u-background--brandDust u-flex0 u-width152 u-height145 u-xs-width80 u-xs-height72"></div>
                                    </div>
                                    <div class="extremePostPreview u-marginBottom48 u-animation--shimmerInfinite">
                                        <div class="extremePostPreview-post u-minWidth0 u-flex1 u-marginRight24 u-textAlignLeft">
                                            <div class="u-clearfix u-marginBottom16">
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder linePlaceholder--truncated"></div>
                                            </div>
                                            <div class="u-flex">
                                                <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                <div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extremePostPreview-image u-background--brandDust u-flex0 u-width152 u-height145 u-xs-width80 u-xs-height72"></div>
                                    </div>
                                    <div class="extremePostPreview u-marginBottom48 u-animation--shimmerInfinite">
                                        <div class="extremePostPreview-post u-minWidth0 u-flex1 u-marginRight24 u-textAlignLeft">
                                            <div class="u-clearfix u-marginBottom16">
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder"></div>
                                                <div class="linePlaceholder linePlaceholder--truncated"></div>
                                            </div>
                                            <div class="u-flex">
                                                <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                <div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                    <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="extremePostPreview-image u-background--brandDust u-flex0 u-width152 u-height145 u-xs-width80 u-xs-height72"></div>
                                    </div>
                                </div>
                                <div class="extreme-container4col u-flex0 extreme-10colHide u-heightInherit">
                                    <div class="extremeSidebar extreme-container4col" data-scroll="dock" data-dock-offset="js-metabarBottom">
                                        <div class="js-sidebar">
                                            <div class="u-marginBottom32 u-animation--shimmerInfinite">
                                                <div class="u-marginRight32 u-marginLeft32 u-paddingBottom16 u-borderBottomLightest u-clearfix">
                                                    <div class="linePlaceholder linePlaceholder-thick linePlaceholder--small"></div>
                                                </div>
                                                <div class="u-padding32 u-clearfix">
                                                    <div class="u-flex u-marginBottom24">
                                                        <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                        <div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--smaller"></div>
                                                        </div>
                                                    </div>
                                                    <div class="u-flex u-marginBottom24">
                                                        <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                        <div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--smaller"></div>
                                                        </div>
                                                    </div>
                                                    <div class="u-flex u-marginBottom24">
                                                        <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                        <div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--smaller"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="u-marginBottom32 u-animation--shimmerInfinite">
                                                <div class="u-marginRight32 u-marginLeft32 u-paddingBottom16 u-borderBottomLightest u-clearfix">
                                                    <div class="linePlaceholder linePlaceholder-thick linePlaceholder--small"></div>
                                                </div>
                                                <div class="u-padding32 u-clearfix">
                                                    <div class="u-flex u-marginBottom24">
                                                        <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                        <div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--smaller"></div>
                                                        </div>
                                                    </div>
                                                    <div class="u-flex u-marginBottom24">
                                                        <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                        <div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--smaller"></div>
                                                        </div>
                                                    </div>
                                                    <div class="u-flex u-marginBottom24">
                                                        <div class="avatarPlaceholder u-height32 u-width32 u-flex0"></div>
                                                        <div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--small"></div>
                                                            <div class="linePlaceholder linePlaceholder--thin linePlaceholder--smaller"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <style class="js-collectionStyle"></style>
                            <style class="js-collectionStyleConstant">
                            </style>
                        </div>
                    </div>
                    <footer class="u-marginTop30 u-marginAuto container u-maxWidth740">
                        
                            <div class="u-flex u-flexWrap u-paddingTop10 u-paddingBottom25 m-breakWord u-borderTopLightest u-xs-paddingLeft20 u-xs-paddingRight20"
                                style="position:justify;">
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#" title="Visit Medium’s help center"
                                    aria-label="Visit Medium’s help center">Help</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#"
                                    title="Status of Medium" aria-label="Status of Medium">Status</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#"
                                    title="Learn about writing on Medium" aria-label="Learn about writing on Medium">Writers</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#"
                                    title="Visit Medium’s blog" aria-label="Visit Medium’s blog">Blog</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#"
                                    title="View open job positions at Medium" aria-label="View open job positions at Medium">Careers</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#"
                                    title="Read Medium’s policies" aria-label="Read Medium’s policies">Privacy</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0 u-marginRight16" href="#"
                                    title="Read Medium’s terms of service" aria-label="Read Medium’s terms of service">Terms</a>
                                <a class="link u-baseColor--link u-textColorNormal u-fontSize14 u-flex0" href="#" title="More about Medium"
                                    aria-label="More about Medium">About</a></div>
                    </footer>
                    <form action="/charge" method="post" id="payment-form">
                        <div class="form-row">
                            <label for="card-element">
                                Credit or debit card
                            </label>
                            <div id="card-element">
                                <!-- A Stripe Element will be inserted here. -->
                            </div>
                    
                            <!-- Used to display form errors. -->
                            <div id="card-errors" role="alert"></div>
                        </div>
                    
                        <button class="btn btn-circle purple">Submit Payment</button>
                    </form>
                </div>
            </div>

        </div>
        <div class="loadingBar"></div>
        <div class="surface-scrollOverlay"></div>
    </div>
</div>