<div class="row" style="margin-left:2rem;">
<h3>Add Your Story</h3>
<div class="row">
{{> _add-category}}
</div>

    <form action="/stories" method="post" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" name="title" placeholder="Title">
                <label for="title" style="color:whitesmoke;">Title</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="bodyImage" placeholder="Image Url">
                <label for="bodyImage" style="color:whitesmoke;">Header Image Url</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
               <select name="status">
                   <option value="public" selected>Public</option>
                   <option value="private">Private</option>
                   <option value="upublished">Unpublished</option>
               </select>
               <label for="status">Status</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <select name="categoryType">
                    {{#select story.category}}
                    <option value="general" selected>General</option>
                    <option value="sci-fi">Sci-Fi</option>
                    <option value="travel">Travel</option>
                    <option value="personal">Biography</option>
                    <option value="educational">Educational</option>
                    <option value="motivational">Motivational</option>
                    {{/select}}
                </select>
                <label for="status">Category</label>
            </div>
        </div>
        {{!-- <div class="row">
            <p>
                <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box" checked="checked">
                <label for="filled-in-box">Allow Comments</label>
            </p>
        </div> --}}
        <div class="row">
            <div class="switch">
                <label>
                    Off
                    <input type="checkbox" name="allowComments" class="filled-in" id="filled-in-box"  checked="checked">
                    <span class="lever"></span>
                    On
                </label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="description" placeholder="short description">
                <label for="description" style="color:whitesmoke;">Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <input type="text" name="keywords" placeholder="keywords seprated by comma">
                <label for="keywords" style="color:whitesmoke;">Keywords</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field">
                <h5>Story Board</h5>
                <textarea name="body"></textarea>
                
            </div>
        </div>
        <input type="submit" value="Save" class="btn btn-circle shake-top">
    </form>
</div>