<div class="row right hide-on-small-only m3 xl3 offset-xl1 fixed" style="position:sticky;display:block;">
    <div class="col s12 m9 l10">
        <div id="introduction" class="section scrollspy">
           
        </div>

        <div id="structure" class="section scrollspy">
           
        </div>

        <div id="initialization" class="section scrollspy">
            
        </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
        <ul class="section table-of-contents">
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#structure">Structure</a></li>
            <li><a href="#initialization">Intialization</a></li>
        </ul>
    </div>
</div>